h1{
    text-align: center;
    margin: 30px 0;
    font-weight: 800;
    font-family: 'Alegreya', serif;
}
.texto{
    font-size: 18px;
}

#boton{
    background-color: white;
    color: black;
    border: 2px solid #B10A0A;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Times New Roman';
}
.inputText{
    width: 40px;
    height: 25px;
    border-radius: 6px;
    border: 1px;
}
#canvas { 
    border: 3px solid black; 
    border-radius: 5px;
    margin-right: 200px;
    float: right;    
}
body{
    
    background-size: 100% 100%;
    background-attachment: fixed;
}


